* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
}
.metric-chart .apexcharts-tooltip {
  border: none !important;
  border-radius: 5px;
  background: transparent !important;
  box-shadow: none !important;
}